<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Story 7</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="bg-warning">
    <div class="container">
    <div class="row">
        <h1>Message Board</h1>
    </div>
    <div class="row">
        <h3>Leave a message</h3>
    </div>
        <div class="row">
            <form class="status-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                <label id="enter-name">Enter your name</label>
                    <br>
                {{status.userName}}
                </div>
                <div class="form-group">
                <label id="enter-status">Enter your message</label>
                <br>
                {{status.userStatus}}
                </div>
                <button type="submit" class="save btn btn-primary">Submit</button>
            </form>
        </div>
    
    <div class="row">
    <h3>Message board</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Message
                </th>
            </tr>
        </thead>
        {% for data in Data %}
        <tr class="text-challange">
            <td>{{ data.userName }}</td>
            <td>{{ data.userStatus }}</td>
        </tr>
        {% endfor %}
    </table>
    <button class="challange btn btn-success" onclick="change()">Change color</button>
    </div>
    </div>
    <script>
        function change(){
            var x = document.getElementsByClassName("text-challange");
            for (var i = 0; i < x.length; i++){
                x[i].style.color = "green";
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>